#what-is-lego span{
  font-size: 80px;
  line-height: 80px;
  -webkit-transform: translateZ(50px);
  -moz-transform:    translateZ(50px);
  -ms-transform:     translateZ(50px);
  -o-transform:      translateZ(50px);
  transform:         translateZ(50px);
}

#lego-definition span{
  font-size: 60px;
  line-height: 60px;
}
#lego-definition2{
  width: 600px;
}
#lego-definition2.present .rotating{
  font-size: 60px;
}
#lego-how{
  width: 500px;
  font-size: 80px;
}
#mosaic-code code{
  font-size: 30px;
  line-height: 30px;
  line-height: 45px;
}
#component{
  font-size: 60px;
  line-height: 90px;
}
#component img{
  margin-top: 50px;
  width: 500px;
}
#getting-work{
  font-size: 80px;
}
#how-to-work{
  width: 500px;
  line-height: 48px;
}
#how-to-work .json{
  margin-left: 420px;
}
#how-to-work .rotating{
  margin-top: -20px;
  margin-left: 350px;
}
#how-to-work .rb{
  -webkit-transform: rotate(30deg);
  -moz-transform:    rotate(30deg);
  -ms-transform:     rotate(30deg);
  -o-transform:      rotate(30deg);
  transform:         rotate(30deg);
}
#how-to-work .rt{
  -webkit-transform: rotate(-30deg);
  -moz-transform:    rotate(-30deg);
  -ms-transform:     rotate(-30deg);
  -o-transform:      rotate(-30deg);
  transform:         rotate(-30deg);
}
#awsome{
  font-size: 60px;
}
#not-awsome b span{
  text-decoration: line-through;
}
#lego-problems{
  width: 600px;
}
#topic2 b{
  line-height: 100px;
}
#not-pretty{
  font-size: 60px;
}
#topic2-discussion{
  font-size: 60px;
  text-align: center;
}
#topic3 b{
  line-height: 100px;
}
#simple-to-use{
  font-size: 60px;
}
#for-example p{
  font-size: 30px;
  line-height: 45px;
}
#open-link img{
  margin-top: 20px;
}
#debug-in img{
  margin-top: 20px;
}
#end{
  font-size: 90px;
}
